/* ======================style section =============== */


/* 
*welcome-sec
*skill
*expert
*service section
*language
*customer review
*footer
*contact page

*/


/* ===========================default css ============== */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Arimo', sans-serif; */

* {
    padding: 0;
    margin: 0;
    outline: none;
}


/*===== VARIABLES CSS =====*/

 :root {
    /*========== Colors ==========*/
    --main-color: #08b967;
    --second-color: #121314;
    --black-color: #000000;
    --text-color: #8f8f8f;
    --title-color: #162148;
    --white-color: #ffffff;
    --text-alt: #787878;
    /*========== Font and typography ==========*/
    --body-font: 'Arimo', sans-serif;
    --sec-title-font: 25px;
    --p-font: 17px;
    --m-title: 20px;
    --l-title: 25px;
    --p-font-height: 30px;
    --lp-font-height: 27px;
    --title-font: 40px;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margin ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* ==================CSS Variable END========= */


/*========== BASE ==========*/

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 400;
    font-family: var(--body-font);
    line-height: var(--p-font-height);
    overflow-X: hidden;
}

img {
    vertical-align: middle;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

ul,
ol {
    padding: 0;
    list-style: none;
}

button:focus {
    outline: none;
}


/* ============================GENERAL STYLE END======= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
label {
    margin: 0;
}

.ovh {
    overflow: hidden;
}

table.table {
    white-space: nowrap;
}

.custom-btn {
    background: var(--main-color);
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    width: 100%;
    border: 2px solid var(--main-color);
}

.custom-btn:hover {
    background: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn:focus {
    outline: 0px;
    box-shadow: none;
}

.my-6 {
    margin: 40px 0;
}

.body-wrapper {
    max-width: 1360px;
    margin: auto;
}


/* =======================default css end =================== */


/* =====================================layout start============== */

.side-bar {
    background: #f7f7f7;
    padding: 40px 0px 0 0;
    border-right: 1px solid #ddd;
    overflow-y: scroll;
    position: fixed;
    transition: .3s;
    width: 300px;
    height: 100vh;
}

.side-bar::-webkit-scrollbar {
    width: 0;
}

.user-img img {
    width: 100%;
}

.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 5px solid var(--main-color);
}

.user-info {
    text-align: center;
}

h2.name {
    font-size: 25px;
    font-weight: 700;
    margin-top: var(--mb-2);
    color: var(--title-color);
}

p.user-role {
    font-size: 15px;
    display: inline-block;
    position: relative;
}

p.user-role:before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-flex;
    background: #80db17;
    margin-right: 4px;
    border-radius: 50%;
}

.menu {
    margin-top: 20px;
}

a.menu-link span {
    font-size: 25px;
}

a.menu-link {
    color: #8f8f8f;
    display: block;
    padding: 19px 20px;
    font-size: 20px;
    transition: .3s;
}

a.menu-link span {
    padding-right: 10px;
}

.menu-list.active a.menu-link {
    background: var(--white-color);
    color: var(--title-color);
}

a.menu-link:hover {
    background: var(--white-color);
    color: var(--title-color);
}

li.menu-list {
    border-bottom: 1px solid #ddd;
}

ul.menu-ul {
    border-top: 1px solid #ddd;
}

ul.social-ul {
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: center;
}

a.social-link {
    margin: 4px;
    width: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: var(--main-color);
    border-radius: 50%;
    color: var(--white-color);
    box-shadow: 0px 7px 20px 1px #c3c3c3;
    transition: .3s;
}

a.social-link:hover {
    color: var(--main-color);
    background: var(--white-color);
}


/*Hamburger-menu START CSS*/

.hamburger-menu {
    cursor: pointer;
    position: fixed;
    z-index: 999;
    background: var(--main-color);
    width: 60px;
    height: 65px;
    border-radius: 0px 0px 100px 0px;
    padding: 7px;
    display: none;
}

.hamburger-menu span {
    background: var(--white-color);
    width: 2.5rem;
    height: 0.3rem;
    display: block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 5px;
    margin: 5px 0;
}

.hamburger-menu .line-top.current {
    -webkit-transform: translateY(200%) rotate(135deg);
    -ms-transform: translateY(200%) rotate(135deg);
    transform: translateY(200%) rotate(135deg);
}

.hamburger-menu .line-center.current {
    opacity: 0;
}

.hamburger-menu .line-bottom.current {
    -webkit-transform: translateY(-325%) rotate(-135deg);
    -ms-transform: translateY(-325%) rotate(-135deg);
    transform: translateY(-325%) rotate(-135deg);
}


/* =============active menu============= */


/* ==================layout end ==================================== */

.night__mood {
    position: fixed;
    top: 30%;
    cursor: pointer;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 30px 0px 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.3) -3px 0px 8px 0px;
    z-index: 2;
}

.night__mood img {
    width: 20px;
    border-radius: 50%;
}


/* =============dark light end ========
/* ======================style section =============== */


/* page loader  */

#preloader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.loader3 {
    width: 5.0rem;
    height: 5.0rem;
    display: inline-block;
    padding: 0px;
    text-align: left;
}

.loader3 span {
    position: absolute;
    display: inline-block;
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 100%;
    background: var(--main-color);
    -webkit-animation: loader3 1.5s linear infinite;
    animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes loader3 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}


/* =======welcome-sec============ */

.content-wrapper {
    margin-left: 300px;
    padding: 50px 50px 0;
    position: relative;
}

h1.welcome {
    text-transform: uppercase;
    font-size: var(--l-title);
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--title-color);
}

a.cv-link {
    display: flex;
    align-items: center;
    top: 126px;
    justify-content: center;
    background: #efefef;
    position: absolute;
    right: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 6px 0px 0px 6px;
}

span.cv-icon {
    background: var(--main-color);
    padding: 13px;
    font-size: 25px;
    color: var(--white-color);
    border-radius: 6px 0px 0px 6px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

a.cv-link p {
    padding: 8px 22px;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

a.cv-link:hover {
    background: var(--main-color);
}

a.cv-link:hover p {
    color: var(--white-color);
}


/* ==========skill bar================== */

.skill {
    overflow: hidden;
    position: relative;
}

.skill>p {
    font-size: 15px;
    font-weight: 700;
    color: var(--title-color);
    margin: 0;
    text-transform: uppercase;
}

.skill:before {
    width: 100%;
    height: 12px;
    content: "";
    display: block;
    position: absolute;
    background: #e7e7e7;
    bottom: 0;
    border-radius: 5px;
}

.skill-bar {
    width: 100%;
    height: 12px;
    background: var(--main-color);
    display: block;
    position: relative;
    border-radius: 10px;
}


/* SKILL 1 */

.skill-bar span {
    position: absolute;
    top: -9px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-bar {
    position: relative;
}

.skill-count {
    right: 0;
}

.skill-point {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

.skill-row {
    padding: 18px;
    background: var(--white-color);
    border-radius: 10px;
}

.sm-sec-head h3 {
    font-size: var(--m-title);
    color: var(--title-color);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 900;
}


/* ================expert ============ */

.expert-con {
    display: flex;
    align-items: center;
}

.expert-con i {
    color: var(--main-color);
}

.expert-con p {
    padding-left: 10px;
    text-transform: capitalize;
}

.expert-con {
    padding: 5px 0;
}


/* =============service section================== */

.service-content {
    text-align: center;
    color: var(--title-color);
    transition: .3s;
    text-transform: capitalize;
}

.serve-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.service-card {
    padding: 34px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 8px 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

h4.serve-title {
    color: var(--main-color);
    font-size: 20px;
    transition: .3s;
    font-weight: 700;
}

.service-content p {
    line-height: 24px;
    margin-top: 8px;
    font-size: 17px;
}

.service-card:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    clip-path: circle(10% at 100% 0%);
    z-index: -1;
    transition: all 0.3s linear 0s;
}

.service-card:hover::after {
    clip-path: circle(75% at 50% 50%);
}

.service-card:hover .service-content {
    color: var(--white-color);
}

.service-card:hover .service-content h4 {
    color: var(--white-color);
}


/* ===========Customer review=========== */

.customer-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px 0px #46464661;
    border: 5px solid var(--main-color);
    margin: auto;
    margin-bottom: 5px;
    display: inline-block;
}

.customer-img img {
    width: 100%;
    height: 100%;
}

.customer-review-slider {
    text-align: center;
}

.message {
    margin-top: 10px;
}

.customer-name {
    color: var(--title-color);
}

.customer-name h4 {
    font-weight: 600;
    text-transform: capitalize;
}

.message p {
    text-transform: capitalize;
}

.customer-review {
    padding-bottom: 60px;
}

.customer-review .swiper-pagination span {
    background: var(--main-color);
    width: 15px;
    height: 15px;
}

.mark-border {
    width: 100px;
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 35px;
    border-top: 5px solid var(--main-color);
}

.mark-border:after {
    content: "";
    width: 17px;
    height: 17px;
    background: var(--main-color);
    position: absolute;
    margin: auto;
    transform: rotate(45deg);
    margin-top: -10px;
    margin-left: -6px;
    border-radius: 5px 8px 0px 8px;
}

.customer-review-sec {
    background: #f9f9f9;
    padding-top: 30px;
    border-radius: 15px;
    overflow: hidden;
}


/* ==================footer=========== */

.footer-sec {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    text-transform: capitalize;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}


/* =====================contact page ============ */

.page-title {
    position: absolute;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    top: 0;
}

h4.page-nav {
    margin-top: 50px;
    display: inline-block;
    margin-left: 60px;
    background: var(--white-color);
    padding: 10px 30px;
    border-radius: 5px 5px 0px 0px;
    text-transform: uppercase;
    font-size: 25px;
    color: var(--main-color);
}

.page-marg {
    margin-top: 100px;
    min-height: 90vh;
}

.contact-area {
    margin: 30px 0;
}

.contact-card {
    padding: 40px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}

.contact-card:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.contact-card i {
    font-size: 35px;
    color: var(--main-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.contact-card:hover i {
    color: var(--white-color);
}


/* ====================contact form======= */

.form-control {
    border-radius: 10px;
    padding: 15px;
    color: var(--title-color);
}

.input-group-text {
    padding: 20px;
    color: var(--title-color);
    background: none;
    border-radius: 10px;
    font-size: 22px;
}

.form-control:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: none;
}


/* ================resume page design start========= */

.award-item {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 40px 0;
    cursor: pointer;
}

.award-content {
    padding: 0 20px;
}

.date p {
    writing-mode: vertical-lr;
    transition: .3s;
    background: #efeeee;
    padding: 10px 0;
    color: var(--title-color);
}

.award-content h4 {
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 10px;
    transition: .3s;
    text-transform: capitalize;
    font-weight: 600;
}

.award-content p {
    line-height: 25px;
}

.award-inner {
    display: grid;
    grid-template-columns: 50% 50%;
}

.award-item:first-child {
    border-right: none;
}

.award-item:nth-child(3) {
    border-right: none;
    border-top: none;
}

.award-item:nth-child(4) {
    border-top: none;
}

.sec-area-top-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--title-color);
    position: absolute;
    top: -16px;
    background: var(--white-color);
    margin-left: 22px;
    padding: 0 15px;
}

.sec-area-top-title p {
    margin-left: 7px;
    font-weight: 600;
}

.sec-area-top-title i {
    font-size: 30px;
    color: var(--main-color);
}

.awards {
    position: relative;
}

.award-item:hover .date p {
    color: var(--white-color);
    background: var(--main-color);
}


/* ===============expert box ======= */

.expert-box {
    border: 1px solid #ddd;
    padding: 40px 35px;
    cursor: pointer;
    border-top: 0;
}

.expert-inner {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.expert-box:nth-child(2),
.expert-box:nth-child(5) {
    border-left: 0;
    border-right: 0;
}

.education {
    display: block;
    padding: 40px 25px;
}

.education .date p {
    writing-mode: initial;
    padding: 5px 10px;
    display: inline-block;
    line-height: 20px;
}

.education .award-content {
    padding: 0;
    margin-top: 15px;
}

.interest {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest-icon {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    align-items: center;
    color: var(--main-color);
    font-size: 25px;
    margin: auto;
    transition: .3s;
}

.interest-inner {
    text-align: center;
}

p.interest-name {
    text-transform: capitalize;
    font-size: 18px;
    color: var(--title-color);
    font-weight: 600;
    margin-top: 10px;
    transition: 0.3s;
}

.expert-box:hover .interest .interest-inner .interest-icon {
    background: var(--main-color);
    color: var(--white-color);
}

.expert-box.education:hover .date p {
    background: var(--main-color);
    color: var(--white-color);
}

.expert-box:hover .interest .interest-inner p {
    color: var(--main-color);
}

.expert-box:nth-child(1),
.expert-box:nth-child(2),
.expert-box:nth-child(3) {
    border-top: 1px solid #ddd;
}


/* ==================work page design start========= */

.control {
    padding: 0px 13px;
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 13px;
    margin: 3px 10px;
    border-radius: 5px;
    background: var(--white-color);
    border: 1px solid #ededed;
    font-weight: 700;
    transition: .3s;
}

.control:hover {
    color: var(--white-color);
    background: var(--main-color);
}

.control.mixitup-control-active {
    background: var(--main-color);
    color: var(--white-color);
}

img.work-img {
    width: 100%;
}

.work-card {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.work-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    cursor: pointer;
    background: #181818c7;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    align-items: end;
}

a.work-name {
    font-size: var(--m-title);
    color: var(--white-color);
    font-weight: 600;
    transition: .3s;
}

a.work-name:hover {
    color: var(--main-color);
}

p.category-name {
    color: var(--white-color);
}

.work-card:hover .work-info {
    opacity: 1;
    visibility: visible;
}

.work-nav {
    margin-bottom: 30px;
}


/* ==============stories============= */

.store-ban img {
    width: 100%;
}

.store-ban {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.store-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 35px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.store-title {
    font-size: 22px;
    color: var(--white-color);
    margin-bottom: 15px;
    line-height: 30px;
    transition: .3s;
    display: block;
}

a.ico-btn {
    color: var(--white-color);
    margin-right: 20px;
    transition: .3s;
}

a.ico-btn span {
    width: 35px;
    height: 35px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a.ico-btn:hover {
    color: var(--main-color);
}

.store-ban:hover .store-info {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.store-ban:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000042;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.store-ban:hover:before {
    opacity: 1;
    visibility: visible;
}


/* ========================stories============== */

.store-img {
    overflow: hidden;
    border-radius: 50%;
    transition: .3s;
}

.store-img img {
    width: 100%;
}

.store-lest ul li {
    display: grid;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: .3s;
    grid-template-columns: 25% 75%;
}

a.store-link {
    padding-left: 20px;
    color: var(--text-color);
    font-size: var(--m-title);
    transition: .3s;
}

a.store-link:hover {
    color: var(--main-color);
}

.store-lest ul li:hover {
    background: var(--main-color);
}

.store-lest ul li:hover a {
    color: var(--white-color);
}

.store-lest ul li:hover .store-img {
    border-radius: 15px;
}


/* =======================single project ============= */

.project-details img {
    width: 100%;
    border-radius: 15px;
}

.work-des h4 {
    color: var(--title-color);
    margin-bottom: 10px;
    font-size: var(--m-title);
    font-weight: 700;
}

.work-des p {
    color: var(--title-color);
}

.author-details h4 {
    color: var(--title-color);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: var(--m-title);
}

ul.info-list li {
    display: flex;
    align-items: center;
    color: var(--title-color);
    /* padding: 3px 0; */
}

p.list-name {
    color: var(--main-color);
    font-weight: 700;
    margin-right: 5px;
}

ul.info-list li i {
    color: var(--main-color);
    margin-right: 5px;
}

a.item-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0e0e0e73;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.related-item {
    position: relative;
}

.related-item:hover a.item-link {
    opacity: 1;
    visibility: visible;
}

ul.info-list {
    line-height: 30px;
}


/* ===========================story details =============== */

.story-details img {
    width: 100%;
    border-radius: 15px;
}

.story-content {
    margin-top: 25px;
}

h1.story-title {
    font-size: 30px;
    text-transform: capitalize;
    color: var(--title-color);
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

.com-auth {
    display: flex;
    margin-bottom: 10px;
    color: var(--title-color);
}

.com-auth p span {
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.com-auth p {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.story-paragraph {
    color: var(--title-color);
}

.multi-item {
    border-radius: 10px;
    overflow: hidden;
}

.multi-img-item {
    border-radius: 10px;
    overflow: hidden;
}

.drop {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.drop span {
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    font-size: 30px;
    color: var(--white-color);
    margin-right: 20px;
    border-radius: 5px;
}

.que {
    display: flex;
    align-items: center;
    padding: 10px;
    border-left: 6px solid var(--main-color);
    margin-top: 20px;
}

.que p.queerer {
    width: 207px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    height: 100px;
    line-height: 0;
    font-style: italic;
}

.que p {
    font-size: 23px;
    line-height: 33px;
    font-style: italic;
    padding-left: 20px;
}

.comment-inner {
    justify-content: space-between;
    color: var(--title-color);
    display: flex;
}

.user-comment {
    padding-left: 20px;
}

a.reply {
    background: var(--main-color);
    padding: 7px 10px;
    color: var(--white-color);
    border-radius: 5px;
    transition: .3s;
}

.name-time p span {
    color: var(--main-color);
    font-weight: 700;
}

a.reply:hover {
    background: var(--title-color);
}

p.comment-mes {
    margin-bottom: 20px;
}

.comment-wrapper {
    margin-top: 30px;
}

.comment-sec h4 {
    color: var(--title-color);
    font-weight: 600;
    text-transform: uppercase;
}

.comment-sec {
    margin-top: 30px;
}

.comment {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}

.commenter-img img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.comment.reply {
    padding-left: 115px;
}


/* ====================================== */


/* ======================================= */

@media screen and (max-width:1200px) {
    .side-bar {
        width: 0;
        background: #f7f7f7;
        height: 0;
        padding: 40px 0px 0 0;
        border-right: 1px solid #ddd;
        overflow-y: scroll;
        position: fixed;
        transition: .3s;
        z-index: 99;
    }
    .content-wrapper {
        margin-left: 0;
    }
    .side-bar.active {
        width: 300px;
        height: 100vh;
        /* z-index: 99; */
    }
    .hamburger-menu {
        display: block;
    }
}

@media screen and (max-width:992px) {
    .education {
        display: block;
        padding: 40px 25px;
    }
}

@media screen and (max-width:768px) {
    .content-wrapper {
        padding: 50px 0px 0;
    }
    .welcome-content {
        text-align: center;
    }
    a.cv-link {
        display: inline-flex;
        background: #efefef;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        border-radius: 6px;
        position: initial;
    }
    .cv-download {
        text-align: center;
        margin-top: 20px;
    }
    .expert-inner {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .expert-box {
        border: 1px solid #ddd;
    }
    .expert-box {
        border-top: none;
    }
    .expert-box:nth-child(2),
    .expert-box:nth-child(1) {
        border-top: 1px solid #ddd;
    }
    .expert-box:nth-child(2),
    .expert-box:nth-child(6),
    .expert-box:nth-child(4) {
        border-left: none;
    }
    .expert-box:nth-child(2),
    .expert-box:nth-child(5) {
        border-right: 1px solid #ddd;
    }
    .expert-box:nth-child(5) {
        border-left: 1px solid #ddd;
    }
    .expert-box:nth-child(3) {
        border-top: none;
    }
    .store-info {
        padding: 10px;
    }
    .store-title {
        font-size: 17px;
        line-height: 26px;
    }
    h1.story-title {
        font-size: 20px;
        line-height: 30px;
    }
    .drop span {
        display: none;
    }
    .commenter-img img {
        width: 50px;
        height: 50px;
    }
    .comment.reply {
        padding-left: 0;
    }
}

@media screen and (max-width:500px) {
    .award-inner {
        display: grid;
        grid-template-columns: 100%;
    }
    .award-item {
        border: 1px solid #ddd;
        margin-bottom: 10px;
    }
    .expert-box:nth-child(2),
    .expert-box:nth-child(6),
    .expert-box:nth-child(4) {
        border-left: 1px solid #ddd;
    }
    .expert-box {
        border-top: 1px solid #ddd;
        margin-bottom: 10px;
    }
    .award-item:first-child {
        border-right: 1px solid #ddd;
    }
    .award-item:nth-child(3) {
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
    .award-item:nth-child(4) {
        border-top: 1px solid #ddd;
    }
    .expert-inner {
        display: grid;
        grid-template-columns: 100%;
    }
    .expert-box:nth-child(3) {
        border-top: 1px solid #ddd;
    }
    .work-nav {
        margin-bottom: 30px;
        text-align: center;
    }
    a.store-link {
        font-size: var(--sm-font);
    }
    h4.page-nav {
        padding: 6px 20px;
        font-size: 20px;
    }
}